.content {
  overflow-x: auto;

  margin: 2rem 0;

  .title,
  .subtitle {
    font-weight: 700;
  }

  .title {
    margin: 1rem 0;

    font-size: 2.5rem;
  }

  .subtitle {
    margin-top: 2rem;

    font-size: 2rem;
  }

  .content {
    font-size: 1.8rem;

    a {
      &,
      span {
        color: $link-color !important;
      }
    }
  }

  .buttons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    & > * {
      margin-right: 1rem;
      margin-bottom: 1rem;

      @include tablet {
        margin-bottom: 0;
      }
    }
  }

  .table {
    min-width: 100%;

    margin-top: 2rem;

    font-size: 1.4rem;

    .head {
      font-weight: 700;

      & > * {
        padding: 0 .5rem;
      }
    }

    .cell {
      padding: 1rem 1rem;

      text-align: center;

      border: .1rem solid #fff;

      .buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
          &:not(:last-of-type) {
            margin-right: 0.5rem;
          }
        }
      }

      &:first-of-type {
        border-left: none;
      }

      &:last-of-type {
        border-right: none;
      }
    }
  }
}