.form {
  display: flex;
  flex-direction: column;

  padding: 2rem 0;

  .title {
    text-align: center;

    font-size: 2.5rem;
    font-weight: 700;
  }

  .row {
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;

      width: 75rem;
    }

    .group {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 50%;

      .label {
        margin-right: 1rem;
      }
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;

    /* TODO: Fix */
    * {
      color: $accent-color !important;
    }

    .label {
      font-size: 1.8rem;
    }

    .input,
    .textarea {
      padding: .2rem .5rem;
    }

    .input,
    .textarea,
    .rounded {
      width: 90%;

      font-size: 1.6rem;

      @include tablet {
        width: 75rem;
      }
    }

    .input {
      outline: 0;
    }

    .select {
      padding: 0.5rem 1rem;

      font-size: 1.5rem;
      text-transform: uppercase;

      background: #fff;
    }
  }

  .align {
    align-self: center;

    margin: 2rem 0;
  }
}