.item {
  align-self: start;

  box-shadow: rgba(0, 0, 0, 0.2) 0 .1rem 1rem 0;
  border-radius: 1.5rem;

  .content {
    padding: 1rem 2rem 1.5rem 2rem;
  }

  .wrapper,
  .description {
    margin-bottom: .5rem;
  }

  .title {
    margin-bottom: 1rem;

    font-size: 1.6rem;
  }

  .wrapper {
    position: relative;
    width: 100%;

    div {
      position: unset !important;
    }
  }

  .image {
    width: 100%;
    user-select: none;

    border-radius: 1.5rem 1.5rem 0 0;
  }

  .description {
    font-size: 1.3rem;
    font-weight: 300;
  }

  .link {
    font-size: 1.4rem;
  }
}
