.link {
  align-self: start;
}

.item {
  border-radius: 1.5rem;

  .wrapper,
  .date {
    margin-bottom: .5rem;
  }

  .title {
    margin-bottom: .3rem;

    font-size: 2.4rem;
  }

  .date {
    font-size: 1.3rem;
    font-weight: 300;

    opacity: .7;
  }
}
