.link {
  align-self: start;
}

.item {
  border-radius: 1.5rem;

  .wrapper,
  .date {
    margin-bottom: .5rem;
  }

  .title {
    margin-bottom: .3rem;

    font-size: 3.5rem;
    font-family: 'Playfair Display', serif;

    color: $accent-color;

    @include tablet {
      font-size: 4.5rem;
    }
  }

  .date {
    font-size: 2rem;
    font-weight: 300;

    color: $secondary-color;

    opacity: .7;
  }
}
