.about-container {
  justify-content: center;
  align-items: center;

  row-gap: 2rem;

  padding: 2rem 0;

  margin-top: 2rem;

  @include tablet {
    justify-content: start;
  }

  .box {
    grid-column: col-start 1 / col-end 12;

    @include tablet {
      grid-column: col-start 1 / col-end 6;
    }

    @include desktop-sm {
      grid-column: col-start 1 / col-end 8;
    }

    margin-right: 3rem;
  }

  .avatar {
    grid-column: col-start 1 / col-end 12;

    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      justify-content: start;
      grid-column: col-start 7 / col-end 12;
    }

    @include desktop-sm {
      grid-column: col-start 9 / col-end 12;
    }
  }
}

.content-container {
  row-gap: 2rem;

  margin: 2rem 0;

  @include tablet-hor {
    row-gap: 0;

    margin: 3rem 0;
  }

  .blog,
  .works {
    height: 200px;
    border: 1px solid red;
  }

  .blog {
    grid-column: col-start 1 / col-end 12;

    @include tablet-hor {
      grid-column: col-start 1 / col-end 6;

      margin-right: 3rem;
    }
  }

  .works {
    grid-column: col-start 1 / col-end 12;

    @include tablet-hor {
      grid-column: col-start 7 / col-end 12;
    }
  }
}