.name {
  font-size: 5rem;
}

.profession {
  font-size: 2.5rem;

  line-height: 0.6;

  margin-bottom: 3rem;
}

.description {
  font-size: 1.8rem;
}

.button {
  padding: 1rem 1.5rem;

  border-bottom-color: rgb(118, 118, 118);
  border-bottom-width: 2px;
  border-left-color: rgb(118, 118, 118);
  border-left-width: 2px;
  border-right-color: rgb(118, 118, 118);
  border-right-width: 2px;
  border-top-color: rgb(118, 118, 118);
  border-top-width: 2px;
}