.editor,
.preview {
  background-color: #fff;
}

.editor {
  padding: 1rem;

  border-radius: 0.5rem;
}

.preview {
  width: 100%;
  min-height: 20rem;

  margin: 2rem 0;
}

.button {
  padding: .5rem 1rem;

  background-color: #fff;

  border: .1rem solid #767676;
}