.footer {
  grid-column: col-start 1 / col-end 12;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 0;

  font-size: 1.6rem;

  @include tablet {
    flex-direction: row;

    align-items: center;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .link {
      margin-right: 1rem;
    }
  }
}
