.preview {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  color: $main-color;
  background-color: $accent-color;
}

.back {
  position: absolute;
  top: 50%;
  left: 0;

  font-size: 3rem;

  color: $secondary-color;

  transform: translateY(-50%) rotate(90deg);
  transform-origin: top center;

  &:hover {
    cursor: pointer;
  }
}

.row {
  width: 50%;
}

.wrapper {
  column-gap: 3rem;

  color: $accent-color;
  background-color: $main-color;
}

.content {
  grid-column: col-start 2 / col-end 11;

  display: flex;
  flex-direction: column;

  margin-top: 10%;
  padding: 5rem 0;
}

.title {
  font-size: 3rem;
  font-weight: 700;

  @include mobile {
    font-size: 4rem;
  }

  @include tablet {
    font-size: 6rem;
  }
}

.date {
  margin-bottom: .5rem;
  
  font-size: 2rem;
  font-weight: 300;
}

.description {
  font-size: 1.8rem;

  color: $secondary-color;
}

.image {
  grid-column: col-start 1 / col-end 8;

  position: relative;
  transform: translateY(-50%);
  margin-bottom: -35%;

  width: 200px;

  @include tablet {
    grid-column: col-start 2 / col-end 3;

    position: sticky;
    top: 50%;
  }
}

.text {
  grid-column: col-start 1 / col-end 12;

  padding: 4rem 0;

  word-break: break-word;

  font-size: 1.7rem;

  @include tablet {
    grid-column: col-start 4 / col-end 11;
  }

  h3 {
    font-size: 2.5rem;
  }

  li {
    margin: 0 !important;
  }

  * {
    font-family: Graphik, serif;

    a {
      &,
      span {
        color: $link-color !important;
      }
    }
  }
}