.preview {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  color: $accent-color;
  background-color: $secondary-color;
}

.back {
  position: absolute;
  top: 50%;
  left: 0;

  font-size: 3rem;

  color: $accent-color;

  transform: translateY(-50%) rotate(90deg);
  transform-origin: top center;

  &:hover {
    cursor: pointer;
  }
}

.title {
  font-size: 6rem;
}

.wrapper {
  grid-column: col-start 2 / col-end 11;
}

.list {
  text-align: center;

  padding: 3rem 0;

  .item {
    list-style: none;

    font-size: 2.5rem;

    transition: font-size .5s;

    @include tablet {
      font-size: 4.5rem;
    }

    &:hover {
      font-size: 3rem;

      @include tablet {
        font-size: 5.5rem;
      }
    }

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }

    .colored {
      color: $secondary-color;
    }
  }
}