.wrapper {
  grid-column: col-start 1 / col-end 12;

  margin-bottom: 2rem;

  border-radius: 1.5rem;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);

  @include tablet-hor {
    grid-column: col-start 2 / col-end 11;
  }

  .content {
    padding: 1rem 1.5rem;
  }
}

.row {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  & > * {
    margin-bottom: .5rem;

    @include tablet {
      margin-bottom: 0;
    }
  }
}

.title {
  font-size: 3.2rem;
  font-weight: 700;

  @include tablet {
    font-size: 4.6rem;
  }
}

.date {
  margin-bottom: .5rem;
  
  font-size: 1.7rem;
  font-weight: 300;
}

.image {
  width: 100%;
  user-select: none;

  border-radius: 1.5rem 1.5rem 0 0;
}

.description,
.content {
  width: 100%;

  font-size: 1.6rem;
}

.description {
  color: #808080;
}