.wrapper {
  border-radius: 1.5rem;
}

.row {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  & > * {
    margin-bottom: .5rem;

    @include tablet {
      margin-bottom: 0;
    }
  }
}

.title {
  font-size: 3.5rem;
  font-weight: 700;

  @include tablet {
    font-size: 4.6rem;
  }
}

.date {
  margin-bottom: .5rem;
  
  font-size: 1.7rem;
  font-weight: 300;
}

.image {
  width: 30rem;
  user-select: none;
}

.description,
.content {
  width: 100%;

  word-break: break-all;

  font-size: 1.8rem;
  line-height: 1.2;
}

.description,
.content * {
  a {
    &,
    span {
      color: #1f83ff !important;
    }
  }
}

.description {
  margin: 1rem 0 2rem;
}