.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  @include tablet {
    height: calc(100vh - 155px);
    height: calc(var(--vh, 1vh) * 100 - 155px);
  }

  .title {
    font-size: 8rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
  }
}
