.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  background-color: $secondary-color;
  color: $accent-color;

  .title {
    font-size: 8rem;
    font-weight: 700;
  }

  .back {
    position: absolute;
    top: 50%;
    left: 0;

    font-size: 3rem;

    color: $accent-color;

    transform: translateY(-50%) rotate(90deg);
    transform-origin: top center;
  }
}