.container {
  grid-column: col-start 1 / col-end 12;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  @include tablet {
    grid-column: col-start 2 / col-end 11;
  }
}

.title {
  display: flex;
  flex-direction: column;

  font-size: 10rem;

  @include tablet {
    font-size: 16rem;
  }

  & > * {
    &:hover::after {
      transform: translateX(20px);

      @include tablet {
        transform: translateX(50px);
      }
    }

    &::after {
      display: inline-block;

      transition: all .3s;
    }

    &:first-of-type {
      color: $accent-color;

      &::after {
        content: "Hello.";
      }

      &:hover::after {
        content: "Work";
      }
    }

    &:nth-of-type(2) {
      color: $secondary-color;

      &::after {
        content: "I am";
      }

      &:hover::after {
        content: "Blog";
      }
    }

    &:nth-of-type(3) {
      color: $secondary-color;

      &::after {
        content: "Rasul";
      }

      &:hover::after {
        content: "Contact";
      }
    }

    &:nth-of-type(4) {
      font-size: 2rem;

      color: $accent-color;
    }

    &:nth-of-type(5) {
      margin-top: 1rem;

      font-size: 2rem;

      color: $accent-color;
    }
  }
}
