@keyframes bounce {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-0.6rem);
  }
}

.container {
  grid-column: col-start 1 / col-end 12;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 5%;

  height: calc(100vh - 150px);
  height: calc(var(--vh, 1vh) * 100 - 150px);

  @include tablet {
    grid-column: col-start 2 / col-end 11;
  }
}

.hint {
  position: fixed;
  bottom: 5%;
  left: 0;
  right: 0;

  font-size: 1.7rem;

  text-align: center;

  animation: bounce .5s cubic-bezier(.4, .5, .5, 1) infinite alternate;
}

.socials {
  &,
  a {
    color: $accent-color;
  }
}

.socialsTop {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;

  margin-bottom: 5px;
}

.tap {
  @include tablet {
    display: none;
  }
}

.hover {
  display: none;

  @include tablet {
    display: block;
  }
}

.content {
  font-size: 2rem;

  @include tablet {
    font-size: 1.7rem;
  }
}

.subtitle {
  font-size: 1.9rem;
  text-transform: uppercase;
}

.title {
  font-size: 9.2rem;
  font-family: 'Playfair Display', serif;
}

.title,
.description,
.langChange {
  color: $secondary-color;
}

.italic {
  font-family: 'Playfair Display', serif;
}

.langChange {
  font-size: 1.6rem;
}
