.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;

  font-size: 160px;

  & > * {
    &:hover::after {
      transform: translateX(50px);
    }

    &::after {
      display: inline-block;

      transition: all .3s;
    }

    &:first-of-type {
      color: $accent-color;

      &::after {
        content: "Hello.";
      }

      &:hover::after {
        content: "Work";
      }
    }

    &:nth-of-type(2) {
      color: $secondary-color;

      &::after {
        content: "I am";
      }

      &:hover::after {
        content: "Blog";
      }
    }

    &:last-of-type {
      color: $secondary-color;

      &::after {
        content: "Rasul";
      }

      &:hover::after {
        content: "Contact";
      }
    }
  }
}
