.content {
  margin-bottom: 2rem;

  .title {
    margin-bottom: 2rem;

    font-size: 3.5rem;
    font-weight: 700;
    line-height: 0.6;
  }

  .list {
    display: flex;
    flex-direction: column;

    row-gap: 3rem;
    column-gap: 3rem;

    .item {
      width: 100%;
    }
  }

  .not-found {
    font-size: 1.6rem;
  }
}

.link {
  color: #1c9dec;
}
