.preview {
  padding: 4rem 0;
}

.title {
  margin-bottom: 2rem;

  font-size: 7.5rem;
  letter-spacing: -2px;
  font-family: 'Playfair Display', serif;

  text-align: center;

  color: $secondary-color;
}

.wrapper {
  width: 100%;

  color: $secondary-color;
}

.content {
  grid-column: col-start 4 / col-end 9;

  padding: 2.5rem 0;

  color: $secondary-color;

  p {
    margin: 0;
  }

  &,
  p {
    font-size: 2rem;
  }

  .list {
    display: flex;
    flex-direction: column;

    row-gap: 6rem;

    .item {
      width: 100%;
    }
  }

  .not-found {
    font-size: 1.6rem;
  }
}

.link {
  color: $link-color;
}
