html {
  overflow-y: scroll;

  scrollbar-width: auto;
  scrollbar-color: $secondary-color transparent;
}

body {
  box-sizing: border-box;
  background-color: $main-color;
  color: $accent-color;

  &::-webkit-scrollbar {
    width: 15px;

    border-left: 1px solid $accent-color;

    background-color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $accent-color;

    transition: background-color .5s;

    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

    &:hover {
      cursor: pointer;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

button,
a {
  color: $accent-color;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul li {
  color: $accent-color;
  list-style-type: disc;
}

img {
  max-width: 100%;
  height: auto;
}

button,
a[role=button] {
  background: transparent;

  &:hover {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}