@import 'https://cdn.rawgit.com/mfd/e7842774e037edf15919037594a79b2b/raw/665bdfc532094318449f1010323c84013d5af953/graphik.css';

html {
  font-size: 45%;

  @include mobile {
    font-size: 50%;
  }

  @include tablet {
    font-size: 62.5%;
  }
}

body,
button {
  font-family: Graphik, serif;
}

body {
  line-height: 1.3;

  @include tablet {
    line-height: 1.1;
  }
}
