@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

html {
  font-size: 45%;

  @include mobile {
    font-size: 50%;
  }

  @include tablet {
    font-size: 62.5%;
  }
}

body,
button {
  font-family: 'Ubuntu Mono', monospace;
}

body {
  line-height: 1.3;

  @include tablet {
    line-height: 1.1;
  }
}
