.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 2.5rem;

  font-size: 2rem;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    color: $secondary-color;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  .disabled {
    font-size: 3.5rem;

    color: $accent-color;

    &:hover {
      cursor: default;
    }
  }
}
