.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  margin-top: 1.5rem;

  font-size: 1.5rem;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 3rem;
    height: 3rem;

    border: .1rem solid black;

    &:not(:last-of-type) {
      margin-right: 1rem;
    }
  }

  .disabled {
    color: #fff;
    background-color: #000;

    &:hover {
      cursor: default;
    }
  }
}