.header {
  grid-column: col-start 1 / col-end 12;

  display: flex;
  justify-self: flex-end;
  align-items: center;
}

.list {
  display: flex;
  align-items: center;

  font-size: 1.3rem;

  .item {
    color: #ccd6f6;

    list-style: none;

    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }

  .counter {
    color: #64ffda;
  }
}